
main{
    background-color: #E8E8E8 ;
    flex-wrap: wrap;
}

div.container{
    background-color:#273342 !important;
}

div.bg-body-tertiary{
    max-width: ;
}

/* img.img1{
    width: 100px;
    height: 100px;
} */
section.cards {
    display: flex;
    width: 80%;
    min-height: 80vh;
    flex-wrap: wrap;
  }

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    flex: 1 1 300px;
  }

main{
    display: flex;

}
button.trash{
    position: relative;
    left: 100px;
    border: 10px none transparent;
}
button.refresh{
    position: relative;
    font-size: 2rem;
    border-style: none;
}
button.clearall{
    margin-top: 15px; 
    border-style: none;
    position: absolute;
     right: 10px;
}


