button.btn{
    height: 70px;
    background-color: #FB6444;
    color: white;
    background-size: ;
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    flex: 1 1 290px;
  }

#showData {
    display: flex;
    /* width: 80%; */
    /* min-height: 80vh; */
    flex-wrap: wrap;
  }

a.tag{
    text-align: center;
    background-color: #FB6444;
    border-style: none;
    
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    justify-content: space-around;
    background-color: rgb(207, 207, 207);
  }
  footer nav {
    width: 30%;
  }
  footer nav ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  footer nav ul li {
    flex-basis: 100px;
  }
  footer nav ul li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.35rem;
  }
  footer section.links a {
    margin: 0rem 1rem;
  }
  footer section.links a img {
    width: 5vw;
    height: 5vw;
  }