button.btn{
    height: 70px;
    background-color: #FB6444;
    color: white;
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    flex: 1 1 290px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
  }

#showData {
    display: flex;
    /* width: 80%; */
    /* min-height: 80vh; */
    flex-wrap: wrap;
  }

.navbar-brand:hover{
  background-color: #FB6444;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

